PORT=5002
MONGO_URI_DEFAULT=mongodb://127.0.0.1:27017/ipos5_reporting
MONGO_URI_LOCAL=mongodb://127.0.0.1:27017/ipos5_reporting
MONGO_DB_NAME=ipos5_reporting
JWT_SECRET=ipos5_super_secret_jwt_key_2026
DISABLE_AUTH=false
